@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');
body {
 background-color: #131316
 color: #ffffff
 font-family: 'Poppins, Berlin-Sans, Sans-serif;
 padding: 0;
 margin: 0;
}
section{ 
 display: grid;
 place-items: center;
 align-content: center;
 min-hight: 100vh;

.hidden {
 opacity: 0; 
 transition: all 1s
}
 .show {
  opacity: 1;
 }
