body {
  margin: 0;
  font-family: system-ui;

.hero {
  background-color: #423A39;
  backgroung-image: url("/logo.png");
  color: white;

  Padding-top: 200px;
  padding-bottom: 200px;
}
  
  .container {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto; 
  padding-left: Irem;
    padding-right: Irem;
  }
