@media (max-width: 600px) {
  .flex-container { 
    flex direction: column;
    text-align: centre; }
}

body {
  margin: 0;
  font-family: system-ui;
}

  .header-banner {
    display: block;
    width: 100%;
    max-height:200px;
    object-fit: cover;
  
.hero {
  background-color: #423A39;
  background-image: url("images/logo.png");
  color: white;

  padding-top: 200px;
  padding-bottom: 200px;
}
  
  .container {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto; 
  padding-left: 1rem;
    padding-right: 1rem;
  }
.flex-container {
  display: flex;
  align-items: center;
  gap: 20px;
}
    .image-box img {
      max-width: 200px; 
      height: auto;
    }
.text-box {
  flex: 1;
}
